{% extends 'base.html' %}

{% block content %}

{% for x in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ x }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}

<h1>Post</h1>
<br/>

<div class="shadow p-3 mb-5 bg-body rounded">
  <h2>{{post.title}}</h2><br/>
  <small>By: {{post.poster.name}}<br/>
  {{post.date_posted}}</small><br/>
  {{post.content|safe}}<br/><br>
  {% if post.poster.about_author %}
    {{post.poster.about_author}}
  {% endif %}
</div>

<a href = "{{ url_for('posts')}}" class = "btn btn-online-secondary btn-small">Back to Blog</a>

{% if post.poster.id == current_user.id %}
  <a href = "{{ url_for('edit_post', id = post.id)}}" class = "btn btn-online-secondary btn-small">Edit Post</a>
  <a href = "{{ url_for('delete_post', id = post.id)}}" class = "btn btn-online-secondary btn-small">Delete Post</a>
{% endif %}
<br/>

{% endblock %}